* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    overflow: hidden;
    background: #262626;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.imgBox {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 5s;
    transform-origin: top right;
}

.card:hover .imgBox img {
    transform: translate(10%, -5%) scale(1.3);
}

.card ul {
    display: flex;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover ul {
    height: 50px;
}

.card ul li {
    width: 20%;
    height: 50px;
}

.card ul li a {
    display: block;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #262626;
    font-size: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.card ul li:hover a {
    background: #000;
    color: #fff;
}

.card ul li:last-child a {
    border-right: none;
}

.content {
    background: #000;
    padding: 30px 10px;
    text-align: center;
}

.content h3 {
    color: orangered;
    font-size: 20px;
}

.content p {
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
}
